html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  background: radial-gradient(at top, #5e4082, #3a124d);
}

.picture {
  place-self: center;
  max-width: calc(100vw - 2rem);
  height: 80vh;
}